*{
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}

.container{
    background-color: #F3F3F3;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bottom-bar, .top-bar{
    background-color: #FFF;
    position: fixed;
    z-index: 1;
}
.top-bar{
    width: 375px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.bottom-bar{
    width: 375px;
    height: 80px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
img{
    width: 75px;
    margin-left: 22px;
}
.people{
    font-size: 50px;
    margin-right: 24px;
}
.paper-plane{
    font-size: 26px;
    margin-right: 27px;
    cursor: pointer;
}
input{
    width: 265px;
    height: 50px;
    margin-left: 17px;
    border: 0;
    cursor: text;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
input::placeholder{
    font-style: italic;
}
.chat{
    width: 100%;
    margin: 85px 0 80px 0;
}
ul > li{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.join{
    background-color: #DCDCDC;
    padding: 10px;
    overflow-x: scroll;
}
.join::-webkit-scrollbar{
    display: none;
}

.message{
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-x: scroll;
}
.message::-webkit-scrollbar{
    display: none;
}






.hora{
    height: 40px;
    width: 65px;
    display: flex;
    align-items: center;
    color: #AAA;
}
.usuario{  /*trocar o nome para 'bold*/
    font-weight: bold;
    margin: 0 3px;
}
